{{ attach_library( 'biopama_landingpage/biopama_search_block' ) }}
<div class="container">
    <h1>Go to:</h1>
    <div class="p-3 bg-gray-1200" id="searchTabs">
        <ul id="searchTabs" class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active p-3 fs-3" id="country-search-tab" data-bs-toggle="pill" data-bs-target="#country-search" type="button" role="tab" aria-controls="country-search" aria-selected="true">Country</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link p-3 fs-3" id="pa-search-tab" data-bs-toggle="pill" data-bs-target="#pa-search" type="button" role="tab" aria-controls="pa-search" aria-selected="false">Protected Area</button>
            </li>
        </ul>
    </div>
    <div class="tab-content p-5 bg-gray-1200" id="searchTabContent">
        <div class="tab-pane fade show active" id="country-search" role="tabpanel" aria-labelledby="country-search-tab">
            <div id="biopama-country-search">
            </div>
        </div>
        <div class="tab-pane fade" id="pa-search" role="tabpanel" aria-labelledby="pa-search-tab">
            <div class="contextual-region">
                {{ drupal_contextual_links('entity.view.edit_form:view=protected_area_search&display_id=block_1:') }}
                {{ drupal_view('protected_area_search', 'block_1') }}
            </div>
        </div>
        <div class="search-info text-align-right">
        To make a selection from a map visit the <a href="/conservation_tracking" target="_blank">Conservation Tracking Module</a>
        </div>
    </div>
</div>