.lightTheme .masthead-img {
    background-image: url("/themes/custom/biopama/img/landingpage/bkgd_000.jpg") !important;
}

.lightTheme .bg-gray-1200 {
    background-color: rgb(244, 244, 244) !important;
}

.lightTheme .text-bg-dark {
    color: #000!important;
    background-color: RGBA(244, 244, 244,var(--bs-bg-opacity,1))!important;
}

.lightTheme * {
    --bs-btn-close-white-filter: unset;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 255,255,255;
    --bs-primary-text: #0a58ca;
    --bs-secondary-text: #6c757d;
    --bs-success-text: #146c43;
    --bs-info-text: #087990;
    --bs-warning-text: #997404;
    --bs-danger-text: #b02a37;
    --bs-light-text: #6c757d;
    --bs-dark-text: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #f8f9fa;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #e9ecef;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 0,0,0;
    --bs-black-rgb: 255,255,255;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 0,0,0;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #6182a1;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255,255,255;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33,37,41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233,236,239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33,37,41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248,249,250;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255,255,255;
    --bs-link-color: #387eb5;
    --bs-link-color-rgb: 56,126,181;
    --bs-link-decoration: none;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10,88,202;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0px;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
    --bs-emphasis-color: #000;
    --bs-form-control-bg: var(--bs-body-bg);
    --bs-form-control-disabled-bg: var(--bs-secondary-bg);
    --bs-highlight-bg: #fff3cd;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
    --bs-list-group-active-color: #fff !important;
    --bs-list-group-active-bg: #198754 !important;
}
.lightTheme .dashboard-image-icon img, 
.lightTheme img.dashboard-left-menu-icon {
    filter: invert(1) !important;
}

.lightTheme .btn-outline-light {
    --bs-btn-color: #424242;
    --bs-btn-border-color: #424242;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #8d8a8a;
    --bs-btn-hover-border-color: #8d8a8a;
    --bs-btn-focus-shadow-rgb: 248,249,250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.lightTheme .masthead-img::before {
    background-image: linear-gradient(to bottom right,#dcefffed,#5c8b22ed) !important;
    opacity: 0.86;
}

.lightTheme section.section {
    background: linear-gradient(62deg, #87bc3f3b 39%, #cee6ff) !important;
    opacity: 0.95;
}

.lightTheme .dashboard-left-menu-item:hover {
    background-color: #ccc !important;
}

/* Scroll Bar */
/* Track */
.lightTheme ::-webkit-scrollbar-track {
    background: #d6d6d6 !important; 
}
 
/* Handle */
.lightTheme ::-webkit-scrollbar-thumb {
    background: #6ad125 !important;
}

/* Handle on hover */
.lightTheme ::-webkit-scrollbar-thumb:hover {
    
    background: #132407 !important; 
}

.lightTheme table th {
    background-color: #a7f79f !important;
}

.lightTheme tbody tr.odd td {
    background-color: #faffff !important;
}
.lightTheme tbody tr.even td {
    background-color: #ebfaf9 !important;
}
.lightTheme tbody tr:hover td {
    background-color: #b2c8ff !important
}
.lightTheme table.dataTable tfoot {
    background-color: #d3d3d3;
}

.lightTheme .btn-outline-orange {
    color: #637b42 !important;
    background-color: #f0ffdd !important;
    border-color: #c7c7c7 !important;
}

/* .lightTheme i.fa-solid {
    color: aliceblue;
} */


.lightTheme #block-cheeseburgermenu, 
.lightTheme #block-cheeseburgermenutrigger {
    --cheese-aside-bg-color: rgb(75, 124, 230);
    --cheese-aside-text-color: rgb(41, 41, 41);
    --cheese-main-bg-color: rgb(255, 255, 255);
    --cheese-main-text-color: rgb(43, 43, 43);
    --cheese-trigger-color: rgba( 255, 255, 255, 1);
    --cheese-trigger-bg-color: rgba( 129, 182, 56, 1);
    --cheese-scrollbar-color: rgb(8, 44, 245);
}

.lightTheme footer.site-footer {
    background: #ffffffc4;
}

.lightTheme .site-footer .content {
    color: rgb(63, 63, 63) !important;
}

.lightTheme .site-footer .content a, .lightTheme .site-footer .content a.is-active {
    color: rgb(44, 44, 44) !important;
}